* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.cdnfonts.com/css/karmatic-arcade");

#canvas1 {
  border: 3px solid black;
  position: absolute;
  width: 800px;
  height: 720px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
